p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.model_p {
    font-weight: bold;
    font-size: 25px;
}
.delivery_p {
    font-size: 20px;
    color: blue;
}
.Alexia_img {
    border-radius: 8px;
    width: 130px;
}

