p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.model_p {
    font-weight: bold;
    font-size: 15px;
}
.delivery_p {
    font-size: 10px;
}
.Alexia_img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-position: 70% 30%;
    object-fit: cover;
}
